.Input {
  padding: 10px 0px;
  text-align: center;
}

input {
  border: 1px solid white; 
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}

input[type=text]:enabled {
  background: #ffff00;
}

input[type=text]:disabled {
  background: #dddddd;
}

.correctAnswer {
  border: 2px solid green; 
}

.incorrectAnswer {
  border: 2px solid red; 
}